#titleLabel {
    -fx-font-family: "JetBrains Mono", monospace;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-text-alignment: center;
}

#messageLabel {
    -fx-font-size: 12px;
    -fx-text-fill: #333;
}

.button {
    -fx-background-color: #0078D7;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}

.button:hover {
    -fx-background-color: #005BB5;
}

#cancelButton {
    -fx-background-color: gray;
}
