.root {
    -fx-background-color: #2e2e2e;
    -fx-text-fill: #ffffff;
}
.button {
    -fx-background-color: #555555;
    -fx-text-fill: #ffffff;
}

.rightSidePaneLogin{
    -fx-background-color: #000000;
}
