.rightSidePaneLogin{
    -fx-background-color: #A4C4B5;
}

.signinButton {
    -fx-background-color: #A4C4B5;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.signinButton:hover {
    -fx-background-color:#ADD8E6;
}

.menuItem {
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-alignment: center-left;
    -fx-background-color: #A4C4B5;
}

.menuItem:hover {
    -fx-background-color: white;
}

.menuItem.pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.left_side_pane_forgot_password{
    -fx-background-color: #A4C4B5;
    -fx-background-radius: 0px 50px 50px 0px;
}


.addButton{
    -fx-background-color:#A4C4B5 ;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

.addButton:hover{
    -fx-background-color: yellow;
    -fx-text-fill: black;
}


