.right_side_pane_login{
    -fx-background-color: #A4C4B5;
}

.signin_button {
    -fx-background-color: #A4C4B5;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.signin_button:hover {
    -fx-background-color: light blue;
}

.menu-item {
    -fx-text-fill: black;
    -fx-padding: 10;
    -fx-font-size: 18px;
    -fx-font-family: "Verdana";
    -fx-font-weight: bold;
    -fx-alignment: center-left;
}

.menu-item:hover {
    -fx-background-color: white;
}

.menu-item.pressed {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.left_side_pane_forgot_password{
    -fx-background-color: #A4C4B5;
    -fx-background-radius: 0px 50px 50px 0px;
}


.add_button{
    -fx-background-color:#A4C4B5 ;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-font-weight: bold;
    -fx-font-family: Verdana;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}

.add_button:hover{
    -fx-background-color: yellow;
    -fx-text-fill: black;
}

