.right_side_pane{
    -fx-background-color: #A4C4B5;
}

.signin_button {
    -fx-background-color: #A4C4B5;
    -fx-border-width: 3px 3px 3px 3px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-border-style: solid;
    -fx-border-color: #353A56;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 21px;
}

.menu-item {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 10;
    -fx-alignment: center-left;
    -fx-font-size: 14px;
}

.menu-item:hover {
    -fx-background-color: #333;
}

.menu-item.selected {
    -fx-background-color: white;
    -fx-text-fill: black;
}

